<!DOCTYPE html>
<html>
   
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>GETTING STARTED WITH BRACKETS</title>
        <meta name="description" content="An interactive getting started guide for Brackets.">
        <link rel="stylesheet" href="main.css">
    </head>
    <body>
        
       <div style="text-align:center" >
  <h1>
     <!-- {{ Cystic Fibrosis Mate }} -->
      Cystic Fibrosis Mate
       <ng-module"colour" place holder"choose color">
  </h1>
</div>
    <div style="text-align:left" >
      
<form action="/" id="myLogin"></form>
Search: <input type="text" name="username" id="username"<br>
<br>
<button type="button"ng-click="Submit()"> Medicine List</button><br>
<button type="button"ng-click="Submit()"> Diatery Plans</button><br>
<button type="button"ng-click="Submit()"> Male Clinics</button><br>
<button type="button"ng-click="Submit()"> News Updates </button><br>
<button type="button"ng-click="Submit()"> Notifications</button>
    </div>
</form>

    